*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(158, 158, 168, 0.541);
}
aside{
    position: fixed;
    height: 100%;
    background-color: rgba(59, 59, 156, 0.486);
    color: rgba(229, 226, 226, 0.493);
    padding: 30px 30px;
}
#Principal{
    margin-left: 210px;
    font-family: 'Poppins', sans-serif;
}
.menu{
    list-style: none;
}
.menu li{
    margin-bottom: 15px;
}

.menu{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

#Principal h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

#Principal h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 32px;
}
.titulo{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

section{
    margin: 30px;
}

#inicio{
    margin-top: 0;
}

#Educacion{
    background-color: rgb(163, 163, 228);
}

i{
    margin-left: 220px 250px;
}

.social li i{
    text-decoration: none;
    color: black;
}


/*
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Oswald', sans-serif;
*/