*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


.container{
    padding: 20px;
}

.from-grup{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
label{
    width: 150px;
}

input{
    width: 150px;
    height: 25px;
    padding: 0px 10px;
}
.btn{
    padding: 5px 12px;
    text-transform: uppercase;
    background-color: aqua;
    color: blueviolet;
    border: 1px solid #fff;
    font-family: "Open Sans", "sans-serif";
    font-weight: 700;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(158, 158, 168, 0.541);
}